/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
.conteiner {
    max-width: 1180px;
    margin: 25px auto;
}
.overlay {
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Header  */
header {
    height: 150px;
}
.logo {
    display: inline-block;
    border-right: 1px solid #e5e5e5;
    padding-right: 20px;
}
li {
    display: inline-block;
    padding: 20px 20px 20px 0px;
}
a {
    color: #858585;
    text-decoration: none;
}
.leadership span {
    color: #a8a8a8;
}

/* Main */
section:first-child {
    height: 500px;
    margin: 25px 0px;
}
.hero {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
	overflow: hidden;
}
.hero-description {
    width: 49%;
    position: absolute;
    color: white;
    top: 60%;
    left: 5%;
}
h1 {
    font-size: 27px;
    font-weight: 400;
}

.top-2nd-section h1{
    font-weight: 600;
}

.bottom-2nd-section {
    padding: 20px 0;
}
.bottom-2nd-section div {
    float: left;
}
.left-column, .right-column {
    width: 20%;
}
.central-column {
    width: calc(60% - 40px);
    margin: 0px 20px;
}
.leadership-img {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 10px;
	overflow: hidden;
    margin-bottom: 25px;
}
.leadership-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
h4 {
    position: relative;
    font-weight: 400;
    margin-bottom: 20px;
}


/* Footer */
footer {
    margin-top: 15px;
    text-align: center;
}
footer span {
    color: red;
}


